version: '3.8'

services:
 postgres_db:
  restart: always
  image: postgres
  container_name: postgres_database
  environment:
   POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
  ports:
   - 5432:5432
  env_file:
   - .env
  volumes:
   - postgres:/var/lib/postgresql/data
   - postgres_config:/etc/postgresql

 redis:
  restart: always
  image: redis
  container_name: redis_container
  volumes:
   - redis-data:/data
  env_file:
   - .env
  sysctls:
   - net.core.somaxconn=1024
  command:
   redis-server --requirepass ${REDIS_PASSWORD}

 bot:
  restart: always
  build:
   context: .
  container_name: bot
  depends_on:
   - postgres_db
   - redis
  volumes:
   - .:/app/
  env_file:
   - .env

volumes:
  postgres:
  postgres_config:
  redis-data: